/* header styling start */

header {
    background-image: linear-gradient(#84bcdc, #fff);
    display: flex;
    justify-content: space-between;
    padding: 1% 5%;
}

header identity img {
    height: 70px;
}

header identity h1 {
    float: right;
    padding-top: 20px;
    padding-left: 20px;
    font-size: 15px;
    font-family: sans-serif;
    color: #333;
}

header sign-in {
    display: flex;
    width: 10em;
    justify-content: space-between;
    background-color: #049edb;
    border-radius: 25px;
    padding: 10px;
    color: white;
    font-size: 1.1em;
}

header sign-in h2:hover {
    color: #000;
}

header sign-in img {
    width: 2em;
    height: 2em;
    align-self: center;
}

menu {
    background-color: #049edb;
    margin: 0;
    padding: 0;
    min-height: 60px;
}

menu ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}

menu ul li {
    flex-wrap: wrap;
}

menu ul li a {
    text-decoration: none;
    display: block;
    color: #fff;
    font-weight: bolder;
    font-size: 1.2em;
}

menu ul li a:hover {
    color: black;
}

menu ul li a:focus {
    color: black;
}

main {
    height: 475px;
}


/* header styling end */


/* footer styling start */

footer {
    display: flex;
    justify-content: space-around;
    color: #000;
    font-weight: 800;
    background-color: #049edb;
    padding: 20px;
}

footer social-media a img {
    width: 20px;
    height: auto;
    padding-left: 10px;
}

footer social-media a img:hover {
    width: 25px;
    transition: ease-in;
}


/* footer styling end */


/* tablet */

@media screen and (max-width:700px) {
    footer quote,
    copyright {
        font-size: 9px;
    }
    footer social-media a img {
        width: 15px;
    }
}


/* mobile */

@media screen and (max-width:415px) {
    header sign-in {
        width: 7em;
        height: 5em;
        font-size: 0.6em;
    }
    menu {
        padding-right: 2em;
    }
    menu ul {
        justify-content: space-around;
    }
    menu ul li a {
        font-size: 0.9em;
    }
}