html{
    height: 100%;
}
body{
    height: 100%;
    background-image: url("../images/globe.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Sorts Mill Goudy", serif;
    padding: 0;
    margin: 0;
}
.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.bookTravel{
    margin-left: 50px;
    color: #049edb;
    text-align: center;
}
.bookTiles{
    height: auto;
}
.bookTiles li{
    width: 33%; 
    text-align: center;
    font-size: 20px;
    margin: 5px 0; 
    list-style: none;
    float: left;
    line-height: 90px;
    cursor: pointer;
    opacity: 1;
    margin-right: 1px;
}
.bookTiles li:first-child{
    background: #049edb url('../images/small_plane.png') no-repeat;
    background-position: 30% center;
}
.bookTiles li:nth-child(2){
    background: #049edb url('../images/small_train.png') no-repeat;
    background-position: 30% center;
}
.bookTiles li:last-child{
    background: #049edb url('../images/small_bus.png') no-repeat;
    background-position: 30% center;
}
.bookTiles li:hover{
    opacity: 0.9;
}
.bookTiles a{
    color: #fff; 
    text-decoration: none; 
    margin: 5px;
}
nav{
    display: flex;
    flex-direction: column;
}

/* adding media queries to adjust mobile device and tablet for header padding */
@media screen and (min-device-width: 320px) and (max-device-width: 480px)and (-webkit-min-device-pixel-ratio: 2) {
    .bookTiles li:first-child{
        background: #049edb url('../images/mobile_plane.ico') no-repeat;
        background-position: 8% center;
    }
    .bookTiles li:nth-child(2){
        background: #049edb url('../images/mobile_train.ico') no-repeat;
        background-position: 8% center;
    }
    .bookTiles li:last-child{
        background: #049edb url('../images/mobile_bus.ico') no-repeat;
        background-position: 8% center;
    }
    main{
        height: 530px;
    }
}
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {
    .bookTiles li:first-child{
        background: #049edb url('../images/mobile_plane.ico') no-repeat;
        background-position: 30% center;
    }
    .bookTiles li:nth-child(2){
        background: #049edb url('../images/mobile_train.ico') no-repeat;
        background-position: 30% center;
    }
    .bookTiles li:last-child{
        background: #049edb url('../images/mobile_bus.ico') no-repeat;
        background-position: 30% center;
    }
    main{
        height: 750px;
    }
}

@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 2) {
    .bookTiles li:first-child{
        background: #049edb url('../images/mobile_plane.ico') no-repeat;
        background-position: 30% center;
    }
    .bookTiles li:nth-child(2){
        background: #049edb url('../images/mobile_train.ico') no-repeat;
        background-position: 30% center;
    }
    .bookTiles li:last-child{
        background: #049edb url('../images/mobile_bus.ico') no-repeat;
        background-position: 30% center;
    }
}

@media 
  (min-device-width: 800px) 
  and (max-device-width: 1280px) {
    .bookTiles li:first-child{
        background: #049edb url('../images/mobile_plane.ico') no-repeat;
        background-position: 30% center;
    }
    .bookTiles li:nth-child(2){
        background: #049edb url('../images/mobile_train.ico') no-repeat;
        background-position: 30% center;
    }
    .bookTiles li:last-child{
        background: #049edb url('../images/mobile_bus.ico') no-repeat;
        background-position: 30% center;
    }
}