html{
    height: 100%;
}
body{
    height: 100%;
    background-image: url("../images/bookflightbg.png");
    font-family: "Sorts Mill Goudy", serif;
    padding: 0;
    margin: 0;
}
.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
main{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}
main div{
    color: #009EDB;
}
.flightDetailTab{
    width: 96.5%;
}
.flightCard{
    height: 400px;
    width: auto;
    background-color: aliceblue;
    margin: 17px;
    padding: 15px;
    align-self: center;
    border-radius: 6px;
    color: #049edb;
    box-shadow: 0 0 7px #049edb;
    display: flex;
    align-items: center;
    width: 900px;
    justify-content: space-between;
}
.tab {
    border: 1px solid #84D1EB;
    background-color: #BADEED;
    color: #009EDB;
  } 
.tab button {
    background-color: #BADEED;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 16px;
    color: #009EDB;
    font-weight: bolder;
}
.tab button:hover {
    background-color: #72CEE8;
}
.tab button.active {
    background-color: #84D1EB;
}
.flightDetailHeading{
    font-weight: bolder;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
table.fareBreakupTable,.otherDetailsTable {
    border-collapse: collapse;
    border: 1px solid #049edb;
    margin: 10px;
    width: 100%;
}
.fareBreakupTable tfoot {
    font-weight: bold;
}
.fareBreakupTable thead th:first-child, .fareBreakupTable thead th:last-child, .otherDetailsTable thead th:first-child, .otherDetailsTable thead th:last-child{
    border-bottom: 1px solid #049edb;
}
.fareBreakupTable th, td,.otherDetailsTable th, td {
    padding: .2em .7em;
    text-align: right;
}
.fareBreakupTable th:first-child, .fareBreakupTable td:first-child, .otherDetailsTable th:first-child, .otherDetailsTable td:first-child {
    text-align: left;
}
.fareBreakupTable th:first-child, .otherDetailsTable th:first-child {
    vertical-align: bottom; 
}
.fareBreakupTable th:nth-child(2), .otherDetailsTable th:nth-child(2) {
    text-align: center; 
}
.fareBreakupTable tr:nth-child(2) th,.otherDetailsTable tr:nth-child(2) th{
    text-align: right; 
}
#bookTicket{
    width: 100px;
    height: 40px;
    background-color: #049edb;
    color: aliceblue;
    border: 1px solid aliceblue;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
}
.goBack{
    color: blue;
    cursor: pointer;
    text-decoration: underline;
    padding-left: 10px;
    padding-top: 10px;
}
#flightDetails{
    display: contents;
}
#dateChange,#flightCancellation,#fareSummary{
    display: none;
}

@media screen and (min-device-width: 320px) and (max-device-width: 480px)and (-webkit-min-device-pixel-ratio: 2) {
    main{
        height: 572px;
    }
    .flightCard {
        width: 350px;
        height: 250px;
        overflow: scroll;
        align-items: flex-start;
        flex-direction: column;
    }
    .tablinks{
        width: 97px;
    }
}

@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {
    main{
        height: 782px;
    }
    .flightCard {
        height: 500px;
        width: 700px;
    }
}