

body {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

	color: white;
	margin: 0%;
	background: url("/images/index_5.jpg") no-repeat center center fixed; 
	background-size:cover;
	font-size: 18px;
	display: grid;
	grid-template-columns: auto;
    grid-template-rows: 15% 75% 10%; 
    grid-template-areas: "header"
                        "main"
                        "footer";
    border-style: none;
    row-gap: 0;
    width: 100vw;
    height: 100vh;

	
}
header {

	grid-area: header;

	display:grid;
  	grid-template-columns: 1fr  9fr;
    grid-template-rows: repeat(10, 1fr);
    background-image: url("/images/header_11.jpg") ;
	background-size:cover;

    
}


#h-image {
	display: grid;
	grid-column: 1;
	grid-row:  3/8;
	float: right;
	min-width: 30%;
	max-width: 100%;
	min-height: 30%;
	max-height: 100%;
	padding-left: 20px;
	

	

    }

#header-text {
	display: grid;
	float: right;
	grid-column: 2;
	grid-row:  5;
    font-size: 36px;
    color: #049edb;
	font-family: 'Allura';
	float: left;
	padding-top: 20px;
}



main.container {
	display: grid;
	grid-area: main;
	grid-template-columns: auto;
    grid-template-rows: 10% 90%; 
    grid-template-areas: "nav"
                        "login-area";

	margin: 0;
	
	
}

nav.nav-top {
    grid-area: nav;
	grid-row: 1;
    top: 0;
    border-style: none;
    margin: 0;
    padding: 0;
	background-color: rgb(59, 143, 177);
 }

#ul-top{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
   
    overflow: auto;
    background-color: rgb(59, 143, 177);
  }
  
 nav ul li {
    display: inline-block;
  }
  
  nav ul li a {
    display: block;
    color: white;
    font-size: larger;
    font-weight: bold;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
 nav ul li a:hover {
    color: black;
  }

.login-area {

	grid-area: login-area;
	grid-row: 2;
	
	width: 340px;
	margin: 0;
	position:fixed;
	top: 35%;
	left: 35%;
	bottom: 20%;
	padding-bottom: 50px;
	border-radius: 5px;
	box-shadow: 0 5px 50px rgba(0,0,0,0.4);
	text-align: center;
}

.login-area .login-header {
	background-color: rgb(59, 143, 177);
	margin-top: 0;
	border-radius: 5px 5px 0 0;
}


h2 {
	color: white;
	font-weight: bold;
	font-size: 30px;
	letter-spacing: 1px;
	line-height: 50px;
}

a {
	text-decoration: none;
	color: white;
}

a:hover {
	color: #aeaeae;
}

p.small {
	font-size: 0.8em;
	margin: 20px 0 0;
}





.login-area input {
	margin-bottom: 20px;
	padding: 8px;
	border: 1px solid #ccc;
	border-radius: 2px;
	font-size: .9em;
	color: black;
}

.login-area input:focus {
	outline: none;
	border-color: #665851;
	transition: 0.5s;
	color: #665851;
}

.login-area button {
	margin-top: 0px;
	border: 0;
	border-radius: 2px;
	color: white;
	padding: 10px;
	text-transform: uppercase;
	font-weight: 400;
	font-size: 0.7em;
	letter-spacing: 1px;
	background-color: rgb(59, 143, 177);
	cursor:pointer;
	outline: none;
}

.login-area button:hover {
	opacity: 0.7;
	transition: 0.5s;
}


.selected {
	color: #665851!important;
	transition: 0.5s;
}

#footer {
	display:grid;
    text-align: center;
	position:absolute;
	bottom: 0;
	width: 95%;
        color: white;
    font-weight: 600;
	
    background-color: #049edb;
	padding-right: 5%;

}


footer copyright {
    float: left;
}

footer social-media a img {
    float: right;
    width: 20px;
    height: auto;
	padding-bottom: 15px;
    
    }

footer social-media a img:hover {
    width: 25px;
    transition: ease-in;
}

